/*-- scss:defaults --*/
// Base document colors


// custom highlight style
.lowhighlight{
  color: black;
  text-decoration: underline;
}

// Navbar
$navbar-bg: #2780e3;
$navbar-fg: white;
$navbar-hl: white;