/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.8;

// custom highlight style
.lowhighlight{
  color: white;
  text-decoration: underline;
}

// Navbar
$navbar-bg: #2780e3;
$navbar-fg: white;
$navbar-hl: white;